<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>14848project_option1</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Project</h1>
          <p>
              This is a web interface to connect to 4 services.</br>
              Please open this page in full screen mode.
          </p>
        </div>
        <div class="col">
          <a href="https://www.baidu.com"><div class="card1 card">
          </div></a>
          <a href="https://www.baidu.com"><div class="card2 card">
          </div></a>
          <a href="https://www.baidu.com"><div class="card3 card">
          </div></a>
          <a href="https://www.baidu.com"><div class="card4 card">
          </div></a>

        </div>
      </div>
    </div>
  </body>
</html>
